/* Estilos gerais da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

/* Estilos do formulário */
form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 400px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-top: 5px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

[id="textgroup"]{
	font-size: 25px;
	 
    color: rgb(0, 0, 255);
}


/* Estilos para o botão "Listar jogadores" */
form[action="http://localhost:8080/player/listar"] input[type="submit"] {
    background-color: #28a745;
}

form[action="http://localhost:8080/player/listar"] input[type="submit"]:hover {
    background-color: #1f8430;
}
